.temp {
  border-radius: 10px;
  background-color: #012443;
  color: white;
  display: inline-block;
  padding: 5px 8px;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}

footer img {
  width: 5%;
}

footer {
  position: fixed;
  bottom: 4%;
  width: 100%;
  background-color: #fff; /* Ganti dengan warna latar belakang yang Anda inginkan */
}

@media screen and (max-width: 600px) {
  footer img {
    width: 15%;
  }
}
